@{
    
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Portfolio.ViewModels.ContactViewModel

@ObjectModel.Helpers.ResourceHelpers.GetString("General", "HOME_CONTACT_CONTACTME")
@using (Html.BeginForm("Contact", "Home"))
{
    <div class="input-group input-group-lg">
        <div>
            @Html.LabelFor(m => m.YourMail, ObjectModel.Helpers.ResourceHelpers.GetString("GENERAL", "CONTACT_YOURMAIL"))
            @Html.TextBoxFor(m => m.YourMail, new { @class = "form-control" })
            
        </div>
        <div>@Html.ValidationMessageFor(m => m.YourMail)</div>
        <div>
            @Html.LabelFor(m => m.YourMessage, ObjectModel.Helpers.ResourceHelpers.GetString("GENERAL", "CONTACT_YOURMESSAGE"))
            @Html.TextAreaFor(m => m.YourMessage, new { @class = "form-control" })
           
        </div>
        <div>@Html.ValidationMessageFor(m => m.YourMessage)</div>
    </div>
    <br />
    <input type="submit" value="@ObjectModel.Helpers.ResourceHelpers.GetString("GENERAL", "GENERAL_SUBMIT")" />
}