@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@ObjectModel.Helpers.ResourceHelpers.GetString("General", "HOME_CONTACT_CONTACTME")
@using (Html.BeginForm("Contact", "Home"))
{
    <div>
        @Html.Label("Votre adresse email :")
        <br />
        @Html.TextArea("name")
    </div>
    <div>
        @Html.Label("Votre message :")
        <br />
        @Html.TextArea("message")
    </div>
    <input type="submit" name="Envoyer" />
}