@model Portfolio.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="title">Portfolio Stéphane Miginiac</h1>

<div class="row">
    <div class="col-lg-9 leftBlock">
        <div id="aboutMe">
            <h3>@ObjectModel.Helpers.ResourceHelpers.GetString("General", "HOME_ABOUT_ME")</h3>
            <img src="~/Content/img/mypic.png" id="mypic" />
            <p>@ObjectModel.Helpers.ResourceHelpers.GetString("General", "HOME_GREETING_MESSAGE")</p>
        </div>

        <div id="charts">
            <div class="competenceChart">
                @(Model.HumanCompetencesChart)
            </div>

            <div class="competenceChart technicalChart">
                @(Model.TechnicalCompetencesChart)
            </div>
        </div>

        <div id="myTalentId">
            <h3>@ObjectModel.Helpers.ResourceHelpers.GetString("General", "HOME_TALENT_ID")</h3>
            <div class="progressBlock">
                Structuré, adopte une vue d'ensemble
                <progress value="79" max="100"></progress>
                <span class="progressLabel">75%</span>
            </div>

            <div class="progressBlock">
                Conciliant, s'exprime avec tact
                <progress value="85" max="100"></progress>
                <span class="progressLabel">85%</span>
            </div>

            <div class="progressBlock">
                Flexible, fait preuve de réactivité
                <progress value="79" max="100"></progress>
                <span class="progressLabel">79%</span>
            </div>

            <div class="progressBlock">
                Indépendant, prend du recul par rapport au groupe
                <progress value="77" max="100"></progress>
                <span class="progressLabel">77%</span>
            </div>
            <a href="https://www.talentoday.com/users/stephane-miginiac">La suite sur mon profil Talenttoday</a>
        </div>
    </div>
    <div class="col-lg-3 rightBlock">
        <div id="contactMe">
            <h3>@ObjectModel.Helpers.ResourceHelpers.GetString("General", "NAVBAR_MENUITEM_CONTACT")</h3>
            <a href="mailto:stephane.miginiac@gmail.com" title="stephmigi.portfolio@gmail.com"><img src="~/Content/img/home/mail.png" /></a>
            <a href="skype:xtssteph?userinfo" title="xtssteph"><img src="~/Content/img/home/skype.jpg" /></a>
            <a href="https://www.google.fr/maps/place/Paris/&#64;48.858859,2.3470599,13z/data=!3m1!4b1!4m2!3m1!1s0x47e66e1f06e2b70f:0x40b82c3688c9460" title="Paris, France"><img src="~/Content/img/home/Address.png" /></a>
        </div>

        <div id="myCV">
            <h3>Mon CV</h3>
            <a href="~/Home/DownloadCV"><img src="~/Content/img/home/pdf.png" /></a>
        </div>
            
        <div id="timeline">
            <h3>Timeline</h3>
            <strong>2013 - 2015</strong> TalentSoft<br />
            <strong>2010 - 2013</strong> INTECHINFO<br />
            <strong>2010</strong> TOEIC (990)<br/>
            <strong>2008 - 2010 </strong> IUT Informatique<br />
            <strong>2007 </strong> Bac<br />
            <strong>1997 - 1999 </strong> USA<br />
            <strong>1989 </strong> Naissance<br />
        </div>
    </div>
</div>