<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mon portfolio</title>
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/portfolio.css" rel="stylesheet">
    <link rel="SHORTCUT ICON" href="~/Content/img/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
    
    <script src="@Url.Content("~/Scripts/jquery/jquery-2.1.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
    <!-- Header -->
    @Html.Action("NavigationBar", "Layout")

    <!-- Body -->
    <div class ="content">
        @RenderBody()
    </div>

    <!-- Footer -->
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            Copyright Stéphane Miginiac - 2014
            <div class="image-bar">
                <a href="@Url.Action("ChangeLanguage", "Layout", new { id = "fr-FR" })"><img src="~/Content/img/flags/france.png" title="Voir ce site en français" /></a>
                <a href="@Url.Action("ChangeLanguage", "Layout", new { id = "en-GB" })"><img src="~/Content/img/flags/english.png" title="See this website in english" /></a>
            </div>
        </div>
    </nav>
</body>
</html>
